.carousel-item{
    padding: 10px 0;
    margin: 10px 0;
    /*height: 120px;*/
    border: 1px solid #eee;
    height: auto;
}

.carousel-img{
    height: 100px;
}

.carousel-img img{
    width: 100%;
    display: block;
    height: 100%;
}

.carousel-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

.col-lg-1{
    display: table;
    height: 100px;
}

.carousel-info{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.carousel-opera{
    /*line-height: 100px;*/
    text-align: center;
}

.carousel-seq{
    color: #fff;
    min-width: 30px;
    border-radius: 2px;
    display: inline-block;
    background-color: #d9534f;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.form-group-wrapper{
    overflow: hidden;
}

.pull-left{
    margin-right: 20px;
    text-align: center;
}

.btn-area{
    text-align: right;
}

.add-btn{
    float: right;
    font-size: 18px;
    margin-top: 5px;
}