.btn-area{
    text-align: right;
}

.tag-area{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #eee;
}

.tag{
    display: inline-block;
    font-size: 12px;
    background-color: #428BCA;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    margin-left: 5px;
}

.tag-remove{
    cursor: pointer;
}

.tag-input{
    padding: 3px 18px 3px 0;
    position: relative;
    display: none;
}

.tag-confirm{
    position: absolute;
    right: 3px;
    top: 3px;
}

.tag-input input[type='text']{
    background-color: #fff;
    border: none;
    color: #494949;
}

.tag-confirm,.tag-edit{
    cursor: pointer;
}