.member-area{
    margin-top: 20px;
    border: 1px solid #eee;
}

.form-group{
    margin: 10px 20px;
    width: 80%;
    display: inline-block;
    position: relative;
}

.form-group label{
    margin-bottom: 10px;
    font-size: 15px;
}

.member-list{
    padding-left: 0;
}

.member-item{
    padding: 10px 0 10px 20px;
    position: relative;
}

.member-item .radio{
    margin: 0;
}

.member-item:hover{
    background-color: #F9F9F9;
}

.member-item.forbidden{
    background-color: #ddd;
}

.pager-nav{
    text-align: center;
    width: 100%;
}

.bind{
    color: #5CB85C;
}

.bind-btn{
    position: absolute;
    right: 10px;
    top: -6px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

input[type='radio']:checked+.bind-btn{
    visibility: visible;
    opacity: 1;
}

.radio>label:not(:first-child){
    padding-left: 10px;
}