table{
    text-align: center;
}

thead{
    background-color: #428bca;
    color: #fff;
}

.user-add-btn{
    font-size: 18px;
    margin-top: 5px;
    margin-right: 5px;
}

td .btn{
    padding: 0;
    width: 20px;
}

td .btn a{
    color: #fff;
}

.user-bind-modal .modal-body{
    padding: 0;
}

.modal-header{
    background-color: #428BCA;
    color: #fff;
    padding: 10px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header .close{
    margin-top: 3px;
}