.member-area{
    margin-top: 20px;
    border: 1px solid #eee;
}

.form-group{
    margin: 10px 20px;
    width: 80%;
    display: inline-block;
    position: relative;
}

.bind-btn{
    position: absolute;
    right: -60px;
    bottom: 2px;
}

.form-group label{
    margin-bottom: 10px;
    font-size: 15px;
}

.member-list{
    padding-left: 0;
}

.member-item{
    padding: 10px 0 10px 20px;
}

.member-item .radio{
    margin: 0;
}

.member-item:hover{
    background-color: #F9F9F9;
}

.member-item.forbidden{
    background-color: #ddd;
}

.pager-nav{
    text-align: center;
    width: 100%;
}

.bind{
    color: #5CB85C;
}

.radio>label:not(:first-child){
    padding-left: 10px;
}